<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>URL Shortener Microservice</title>
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>

    <form action="/api/shorturl" method="post">
      <label for="url">URL to shorten</label>
      <input id="url" type="text" name="url" placeholder="https://example.com" />
      <button type="submit">POST URL</button>
    </form>
  </body>
</html>
